.nav-1{
    background: #FFCCCC;
    padding: 20px;
}

.name{
    background: rgb(182, 238, 216);
    color: #FF0066;
    padding: 20px;
    width: 25%;
    margin: 10px;
}

.padre{
    display: flex;
}

.hola{
    
    background: #CCFF33;
    color: black;
    padding: 5px;
    width: 100%;
    margin: 5px;
    display: block;

}

.nav-enlace{
    background: purple;
    color: #FF9999;
    padding: 10px 30px;
}

