body{
    background-color: #632432;
    font-family: arial;
}

.alumno{
    background-color: violet;
    font-family: arial;
    margin: 100px ;
}

.left{
    float: left;
}

.main-container{
    margin: 150px auto;
    width: 600px;
}

table{
    background-color: white;
    text-align: center;
    width: 100%;
}
 
th,td{
    border: solid 1px black;
}